<%= form_tag students_path, :method => 'get' do  %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<%end %>

<div class="home">
<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="title"> WELCOME </h1>
</div>
</div>
