<div class="container">
  <div class="row">
    <div class="col-md-1" style="height:10em;">
      <div></div>
    </div>
  </div>
  <div class="row justify-content-end">

    <div class="col-md-4 newStudent">
      <div class="row">
        <div class="container">
            <%= link_to 'New Student', students_path(@student), :class => "btn btn-outline-secondary buttonLink" %>
        </div>
      </div>
    </div>


    <div class="col-md-4 newSection">
      <div class="row">
        <div class="container">
         <%= link_to 'New Section', sections_path(@section), :class => "btn btn-outline-secondary buttonLink"%>
        </div>
      </div>
    </div>

    <div class="col-md-4 newCourse">
      <div class="row">
           <%= link_to 'New Course', courses_path(@course), :class => "btn btn-outline-secondary buttonLink" %>
      </div>
    </div>
  </div>
</div>
